{% extends 'base/base.html' %}
{% import 'macro/forms.html' as forms %}
{% import 'macro/panels.html' as panels %}
{% block title %}编辑回复{% endblock %}
{% block sidebar %}
    {% include 'base/sidebar_markdown.html' %}
{% endblock %}
{% block content_header %}
    {{ panels.breadcrumb('编辑回复') }}
{% endblock %}
{% block content_body %}
    {% call forms.form(url_for('reply.update'), class='textarea') %}
        {{ forms.hidden_input(name='token', value=session.get('token')) }}
        {{ forms.hidden_input(name='id', value=reply.id) }}
        {{ forms.hidden_input(name='next', value=request.referrer) }}
        {{ forms.textarea(label='', name='content', value=reply.content, place='0', size='12', rows='18') }}
        {{ forms.button('提交', place='0', size='12') }}
    {% endcall %}
{% endblock %}