{%- macro form(action, enctype='', class='') %}
    <form class="form-horizontal {{ class }}" method="post" action="{{ action }}" enctype="{{ enctype }}">
        <fieldset>
            {{ caller() }}
        </fieldset>
    </form>
{% endmacro -%}

{%- macro input(label='', name='', placeholder='', type='text', value='', readonly='', place='4', size='4') %}
    <div class="form-group">
        <label class="col-sm-{{ place }} control-label">{{ label }}</label>
        <div class="col-sm-{{ size }}">
            <input class="form-control" name="{{ name }}" placeholder="{{ placeholder }}" type="{{ type }}" value="{{ value }}" {{ readonly }}>
        </div>
    </div>
{% endmacro -%}

{%- macro textarea(label='', name='', placeholder='', value='', place='4', size='4', rows='3') %}
    <div class="form-group">
      <label class="col-sm-{{ place }} control-label">{{ label }}</label>
      <div class="col-sm-{{ size }}">
        <textarea class="form-control" rows="{{ rows }}" name="{{ name }}" placeholder="{{ placeholder }}" >{{ value }}</textarea>
      </div>
    </div>
{% endmacro -%}

{%- macro select(label='', name='', place='4', size='4') %}
    <div class="form-group">
      <label class="col-sm-{{ place }} control-label">{{ label }}</label>
      <div class="col-sm-{{ size }}">
        <select class="form-control" name="{{ name }}">
          {{ caller() }}
        </select>
      </div>
    </div>
{% endmacro -%}

{%- macro button(caption, place='4', size='4') %}
    <div class="form-group">
        <div class="col-sm-{{ size }} col-sm-offset-{{ place }}">
            <button type="submit" class="btn btn-primary btn-block">{{ caption }}</button>
        </div>
    </div>
{% endmacro -%}

{%- macro hidden_input(name='', value='') %}
    <input name="{{ name }}" type="hidden" value="{{ value }}">
{% endmacro -%}
